<section class="card">
  <h2>Thank you!</h2>
  <p>Your claim has been submitted for review.</p>
  <h3>Submission Details</h3>
  <pre class="code"><%= JSON.stringify(claim, null, 2) %></pre>
  <div class="actions">
    <a class="btn btn-primary" href="/">Back to Home</a>
    <a class="btn" href="/wizard/step1">File another claim</a>
  </div>
</section>


